{% extends "base.html" %}
{% block content %}<p><i>The Agile Client Care Experience</i> is an open-source platform that gets rid of all the jargon in law affairs, giving clients a new way to handle their affairs. Inspired by <a href="https://en.wikipedia.org/wiki/Agile_software_development">agile</a>, the platform provides its users with an efficient way to get through work, maintain schedules and finances so they can focus on what matters: justice.</p>
<ul>Further reading:
    <li><a href="https://github.com/akpekig/the-acce">Our code (https://github.com/akpekig/the-acce)</a></li>
    <li><a href="https://agile.18f.gov/">Agile Principles and 18F Practices (https://agile.18f.gov/)</a></li>
    <li><a href="/privacy_policy">Privacy policy (https://the-acce.tech/privacy_policy)</a></li>
    <li><a href="/terms">Terms of use (https://the-acce.tech/terms)</a></li>
    <li><a href="/justice">Justice (https://the-acce.tech/justice)</a></li>
</ul>
{% endblock %}