{% extends "base.html" %}
{% block content %}
<figure>
  <blockquote>
      <p>Against eternal injustice, man must assert justice, and to protest against the universe of grief, he must create happiness.</p>
  </blockquote>
  <figcaption>— Albert Camus</figcaption>
</figure>
{% endblock %}


