<!DOCTYPE html>
<nav id="wrapper">
    <ul class="d-flex w-100 col justify-content-between" id="navigation">
        <header>Menu</header>
        <main role="main" class="d-flex col justify-content-between">
            <!-- Main elements with a role of main occur for full cross-browser compatibility. -->
            <li class="nav-item">
                <a class="nav-link" href="/about">
                    <button>
                        About
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/code">
                    <button>Get code</button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/access">
                    <button>Access tools</button>
                </a>
            </li>
        </main>
    </ul>
</nav>