{% extends "base.html" %}
{% block content %}
<p>This Privacy Policy describes how your personal information is collected, used, and shared when you visit or make a purchase from the-acce.tech (the &ldquo;Site&rdquo;).</p>
<p>PERSONAL INFORMATION WE COLLECT</p>
<p>When you visit the Site, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device. Additionally, as you browse the Site, we collect information about the individual web pages or products that you view, what websites or search terms referred you to the Site, and information about how you interact with the Site. We refer to this automatically-collected information as &ldquo;Device Information.&rdquo;</p>
<p>We collect Device Information using the following technologies:</p>
<p>- &ldquo;Cookies&rdquo; are data files that are placed on your device or computer and often include an anonymous unique identifier. For more information about cookies, and how to disable cookies, visit http://www.allaboutcookies.org.</p>
<p>- &ldquo;Log files&rdquo; track actions occurring on the Site, and collect data including your IP address, browser type, Internet service provider, referring/exit pages, and date/time stamps.</p>
<p>- &ldquo;Web beacons,&rdquo; &ldquo;tags,&rdquo; and &ldquo;pixels&rdquo; are electronic files used to record information about how you browse the Site.</p>
<p>Additionally when you make a purchase or attempt to make a purchase through the Site, we collect certain information from you, including your name, billing address, shipping address, payment information (including credit card numbers), email address, and phone number. We refer to this information as &ldquo;Order Information.&rdquo;</p>
<p>When we talk about &ldquo;Personal Information&rdquo; in this Privacy Policy, we are talking both about Device Information and Order Information.</p>
<p>LEGITIMATE REASONS FOR PROCESSING YOUR PERSONAL INFORMATION</p>
<p>We only collect and use your personal information when we have a legitimate reason for doing so. In which instance, we only collect personal information that is reasonably necessary to provide our services to you.</p>
<p>COLLECTION AND USE OF INFORMATION</p>
<p>We may collect personal information from you when you do any of the following on our website:</p>
<ul>
  <li>Use a mobile device or web browser to access our content</li>
  <li>Contact us via email, social media, or on any similar technologies</li>
  <li>When you mention us on social media</li>
</ul>
<p>We may collect, hold, use, and disclose information for the following purposes, and personal information will not be further processed in a manner that is incompatible with these purposes:</p>
<p>We may collect, hold, use, and disclose information for the following purposes, and personal information will not be further processed in a manner that is incompatible with these purposes:</p>
<ul>
  <li>to enable you to customise or personalise your experience of our website</li>
  <li>to enable you to access and use our website, associated applications, and associated social media platforms</li>
  <li>for internal record keeping and administrative purposes</li>
  <li>to comply with our legal obligations and resolve any disputes that we may have</li>
  <li>for security and fraud prevention, and to ensure that our sites and apps are safe, secure, and used in line with our terms of use</li>
</ul>
<p>Please be aware that we may combine information we collect about you with general information or research data we receive from other trusted sources.</p>
<p>SECURITY OF YOUR PERSONAL INFORMATION</p>
<p>When we collect and process personal information, and while we retain this information, we will protect it within commercially acceptable means to prevent loss and theft, as well as unauthorized access, disclosure, copying, use, or modification.</p>
<p>Although we will do our best to protect the personal information you provide to us, we advise that no method of electronic transmission or storage is 100% secure, and no one can guarantee absolute data security. We will comply with laws applicable to us in respect of any data breach.</p>
<p>You are responsible for selecting any password and its overall security strength, ensuring the security of your own information within the bounds of our services.</p>
<p>HOW LONG WE KEEP YOUR PERSONAL INFORMATION</p>
<p>We keep your personal information only for as long as we need to. This time period may depend on what we are using your information for, in accordance with this privacy policy. If your personal information is no longer required, we will delete it or make it anonymous by removing all details that identify you.</p>
<p>However, if necessary, we may retain your personal information for our compliance with a legal, accounting, or reporting obligation or for archiving purposes in the public interest, scientific, or historical research purposes or statistical purposes.</p>
<p>HOW DO WE USE YOUR PERSONAL INFORMATION?</p>
<p>We use the Order Information that we collect generally to fulfill any orders placed through the Site (including processing your payment information, arranging for shipping, and providing you with invoices and/or order confirmations). Additionally, we use this Order Information to:</p>
<p>Communicate with you;</p>
<p>Screen our orders for potential risk or fraud; and</p>
<p>When in line with the preferences you have shared with us, provide you with information or advertising relating to our products or services.</p>
<p>We use the Device Information that we collect to help us screen for potential risk and fraud (in particular, your IP address), and more generally to improve and optimize our Site (for example, by generating analytics about how our customers browse and interact with the Site, and to assess the success of our marketing and advertising campaigns).</p>
<p>SHARING YOUR PERSONAL INFORMATION</p>
<p>We share your Personal Information with third parties to help us use your Personal Information, as described above. We use Google Analytics to help us understand how our customers use the Site--you can read more about how Google uses your Personal Information here: https://www.google.com/intl/en/policies/privacy/. You can also opt-out of Google Analytics here: https://tools.google.com/dlpage/gaoptout.</p>
<p>Finally, we may also share your Personal Information to comply with applicable laws and regulations, to respond to a subpoena, search warrant or other lawful request for information we receive, or to otherwise protect our rights.</p>
<p>DO NOT TRACK</p>
<p>Please note that we do not alter our Site&rsquo;s data collection and use practices when we see a Do Not Track signal from your browser.</p>
<p>YOUR RIGHTS</p>
<p>If you are a European resident, you have the right to access personal information we hold about you and to ask that your personal information be corrected, updated, or deleted. If you would like to exercise this right, please contact us through the contact information below.</p>
<p>Additionally, if you are a European resident we note that we are processing your information in order to fulfill contracts we might have with you (for example if you make an order through the Site), or otherwise to pursue our legitimate business interests listed above. Additionally, please note that your information will be transferred outside of Europe, including to Canada and the United States.</p>
<p>DATA RETENTION</p>
<p>When you place an order through the Site, we will maintain your Order Information for our records unless and until you ask us to delete this information.</p>
<p>MINORS</p>
<p>The Site is not intended for individuals under the age of 13.</p>
<p>CHANGES</p>
<p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.</p>
<p>CONTACT US</p>
<p>For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at dietxlo@gmail.com or by mail using the details provided below:</p>
<p>Suite 21, 101 Clerkenwell, London, ENG, EC1R5BX, United Kingdom</p>
{% endblock %}


